.userheader{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.Menu-link {
    color: #fff;
    list-style: none;
    padding: 15px 20px;
    font-size: 16px;
}
.Menu-link li {
    margin-top: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  main.ant-layout-content {
    overflow: auto;
}